<form action="/trips/<%= @trip.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <h2>Update Trip</h2>
  <Duration<p><input id="duration"type="text" name='trip[duration]'value="<%= @trip.duration %>"></p>
  <Start Date <p><input id="start_date"type="text" name='trip[start_date]' value="<%= @trip.start_date %>"></p>
  <Start Station Name <p><input id="start_station_name"type="text" name='trip[start_station_name]'value="<%= @trip.start_station_name %>"></p>
  <Start Station Id <p><input id="start_station_id"type="text" name='trip[start_station_id]' value="<%= @trip.start_station_id %>"></p>
  <End Date <p><input id="end_date"type="text" name='trip[end_date]' value="<%= @trip.end_date %>"></p>
  <End Station Name <p><input id="end_station_name"type="text" name='trip[end_station_name]' value="<%= @trip.end_station_name %>"></p>
  <End Station Id <p><input id="end_station_id"type="text" name='trip[end_station_id]'value="<%= @trip.end_station_id %>"></p>
  <Bike Id <p><input id="bike_id"type="text" name='trip[bike_id]' value="<%= @trip.bike_id %>"></p>
  <Subscription Type <p><input id="subscription_type"type="text" name='trip[subscription_type]' value="<%= @trip.subscription_type %>"></p>
  <Zip Code <p><input id="zip_code"type="text" name='trip[zip_code]'value="<%= @trip.zip_code %>"></p>
  <p><input id="submit_trip"type="submit" value="Submit"></p>
</form>
<form action="/trips" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input id="delete_trip" type="submit" value="Delete"/>
</form>
