<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="application.css">
  <title></title>
</head>
<body>

  <form action="/trips" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <p>Insert Trip ID to delete</p> <input id="insert_id"type="text" name="id">
    <input id="delete_trip" type="submit" value="Delete"/>
  </form>
  <form action="/trips/new" >
    <br><input id="create_trip" type="submit" value="Create a new trip"/></p>
  </form>
  <div class="table-responsive">
  <table class="table table-inverse table-condensed">
    <thead>
      <tr>
        <th>Trip ID</th>
        <th>Duration</th>
        <th>Start Date</th>
        <th>Start Station</th>
        <th>Start Station ID</th>
        <th>End Date</th>
        <th>End Station Name</th>
        <th>End Station Id</th>
        <th>Bike ID</th>
        <th>Subscription Type</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
      <th scope="row" id="total entries"></th>
      <% @trips.each do |trip| %>
      <tr>
        <td><a href="/trips/<%= trip.id %>"><%= trip.id %></a></td>
        <td><%= trip.duration%></td>
        <td><%= trip.start_date%></td>
        <td><%= trip.start_station_name%></td>
        <td><%= trip.start_station_id%></td>
        <td><%= trip.end_date%></td>
        <td><%= trip.end_station_name%></td>
        <td><%= trip.end_station_id%></td>
        <td><%= trip.bike_id%></td>
        <td><%= trip.subscription_type%></td>
        <td><%= trip.zip_code%></td>
        <td>
          <form action="/trips/<%= trip.id %>/edit">
            <input type="submit" value="Edit"/>
          </form>
        </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="will_pagination">
    <div class="page_info">
      <%= page_entries_info @trips %>
    </div>
    <%= will_paginate @trips, :container => false %>
  </div>
</body>
<!-- Latest compiled and minified JavaScript -->
<link src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</html>
