<h1><%= @trip.id %></h1>
<td><%= @trip.duration%></td>
<td><%= @trip.start_date%></td>
<td><%= @trip.start_station_name%></td>
<td><%= @trip.start_station_id%></td>
<td><%= @trip.end_date%></td>
<td><%= @trip.end_station_name%></td>
<td><%= @trip.end_station_id%></td>
<td><%= @trip.bike_id%></td>
<td><%= @trip.subscription_type%></td>
<td><%= @trip.zip_code%></td>
